td{
    width: 50%;
    padding-left: 30px;
    
}

.tdata{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.tdata2{
    border-left: 1px solid grey;
}

.tdata1{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}